<div class="row">
	<div class="col-sm-4">
		<img src="{{ url_for('static', filename='word.png') }}" class="img-responsive">
		<p class ="small"><strong>Size: {{ file.file_size }} bytes</strong></p>
	</div>
	<div class="col-sm-8">
		<h3>{{ file.name }}</h3>
		<p>Path: {{ file.rel_path }}</p>
		<p>Created: {{ moment(file.timestamp).format('LLLL') }}</p>
		<div class="row">
			<a href="{{ url_for('static', filename=file.rel_path) }}">
				<button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
			</a>
			<a href="#">
				<button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</button>
			</a>
		</div>
	</div>
</div>
