{% extends "base.html " %}

{% block app_content %}
<div class="container">
	<div class="col-sm-4">
		<div class=" well well-lg text-center">
			<div class="well" style="background-image:url({{ url_for('static', filename='bg.png') }});">
				<h2>{{  user.username }}</h2>
			</div>
			<div class="row">
				<img src="{{ url_for('static', filename='avatar.png') }}" style="text-align: center" class="image-responsive">
				<p>{{ user.email }}</p> 
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading text-center"><h2>{{ user.username }}'s Files: </h2></div>
			<div class="panel-body">
				{% for file in user.files %}
				{% include 'auth/_file.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
