{% extends "base.html " %}

{% block app_content %}
<h2>{{  user.username }}'s Profile</h2>
<div class="row">
	<div class="col-sm-4" style="background-color:success">
		<img src="{{ url_for('static', filename='avatar.png') }}" class="img-responsive">
		<p>{{ user.email }}</p>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>{{ user.username }}'s files: </h3></div>
			<div class="panel-body">
				{% for file in user.files %}
				{% include 'auth/_file.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
