.panel-headstyle {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.panel-footer {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.logo {
  padding-top: 3px;
  offset-right: 10px;
}
.nav-glyph {
  font-size: 26px;
  padding-left: 32px;
  padding-top: 3px;
}
.nav-text {
  font-size: 18px;
  padding-top: 5px;
}
.well {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.well-black {
  background-image: linear-gradient(#333333, #d6d6d6);
}
.well-transparent {
  background-image: url("{{ url_for('static', filename='bg.png') }}");
  background-repeat: repeat;
}
.profile-username {
  font-size: x-large;
  margin-top: -16px;
  padding-bottom: 8px;
}
