<div id="edit_owners" class="modal fade" role="dialog">
  <form method="post" action="" role="form" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Estate Owners</h4>
        </div>
      <div class="modal-body">
        <div class="form-group">
          {{ owners_form.csrf_token }}
        </div>
        <div class="row">
          <div class="form-group">
            {{ owners_form.total_shares.label }}
            {{ owners_form.total_shares(value=imovel.total_shares, size=7) }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7">
            <fieldset id ="estate_owners">
              <legend>Owners <button type="button" class="btn btn-primary btn-sm pull-right" id="add_own"><span class="glyphicon glyphicon-plus"></span> Add Owner</button></legend>
              {% for l in owners_form.owners %}
              <div class ="form-group form-inline owner_form">
                {% set person =  owners[loop.index0][0] %}
                {% if person.type == 'legal' %}
                  {% set own = person.cnpj %}
                {% else %}
                  {% set own = person.cpf %}
                {% endif %}
                {% set shares = owners[loop.index0][1] %}
                {{ l.owner.label(class_='owner_id_label form-control') }}
                {{ l.owner(class_='form-control', value=own) }}
                {{ l.share.label(class_='owner_share_label form-control') }}
                {{ l.share(class_='form-control', value=shares) }}
                {% if loop.index0 != 0 %}
                <button type="button" class="btn btn-danger btn-sm form-control" id="{{ loop.index0 }}"><span class="glyphicon glyphicon-trash"></span></button>
                {% endif %}
              </div>
              {% endfor %}
            </fieldset>
          </div>
          <div class="col-xs-5">
            <fieldset id ="owners_info">
              <legend>Info</legend>
              {% for l in owners_form.owners %}
                {% set person =  owners[loop.index0][0] %}
                {% set name = person.name %}
                {% if person.type == 'legal' %}
                  {% set name = person.legal_name %}
                {% endif %}
                <div class ="form-group owner-info-{{ loop.index0 }}">
                  <input id="info-{{ loop.index0 }}" class="form-control owner-info" type="text" value="{{ name }}" style="height:39px" disabled>
                </div>
              {% endfor %}
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ owners_form.submit.label(class="sr-only") }}
          {{ owners_form.submit(class="form-control btn-success") }}
        </div>
      </div>
    </div>
  </form>
</div>
