<tr>
	<td>{{ imovel.id }}</td>
	<td>{{ imovel.matricula_n }}</td>
	<td>{{ imovel.name }}</td>
	<td>{{ imovel.sql }}</td>
	<td>
		<a href="{{ url_for('realestate.imovel', imovel_id=imovel.id) }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-info-sign"></span> Info</button></a>
		{% if current_user.is_authenticated %}
		<a href="{{ url_for('realestate.delete_imovel', imovel_id=imovel.id) }}"><button type="button" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
		{% endif %}
	</td>
</tr>
