<tr>
	<td>{{ imovel.id }}</td>
	<td>{{ imovel.matricula_n }}</td>
	<td>{{ imovel.name }}</td>
	<td>{{ imovel.sql }}</td>
	{% if current_user.is_authenticated %}
	<td><a href="{{ url_for('realestate.imovel', imovel_id=imovel.id) }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a></td>
	<td><a href="{{ url_for('realestate.delete_imovel', imovel_id=imovel.id) }}"><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button></a></td>
	{% else %}
	<td><a href="{{ url_for('realestate.imovel', imovel_id=imovel.id) }}"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign"></span> Info</button></a></td>
	<td> </td>
	{% endif %}
</tr>
