{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/add_realestate.js') }}"></script>
{% endblock %}

{% block app_content %}
  <div class="container">
    <form method="post" action="" role="form" enctype="multipart/form-data">
      <div class="row">
        <h2>Add Real Estate</h2>
        <div class="form-group">
          {{ form.csrf_token }}
        </div>
        <div class="col-sm-6">
          <fieldset class="info">
            <legend class="info">Property Info</legend>
              <div class="form-group">
    				    {{ form.name.label(class="control-label") }}
    						{{ form.name(class="form-control") }}
              </div>
              <div class="form-group">
                {{ form.sql.label(class="control-label") }}
    						{{ form.sql(class="form-control") }}
              </div>
              <div class="form-group">
                {{ form.total_shares.label(class="control-label") }}
    						{{ form.total_shares(class="form-control") }}
              </div>
              <div class="form-group">
                {{ form.matricula_n.label(class="control-label") }}
    						{{ form.matricula_n(class="form-control") }}
              </div>
              <div class="form-group row">
                <div class="col-xs-5">
                  {{ form.matricula_file.label(class="control-label") }}
      						{{ form.matricula_file(class="form-control") }}
                </div>
                <div class="col-xs-7">
                  {{ form.matricula_file_date.label(class="control-label") }}
      						{{ form.matricula_file_date(class="form-control") }}
                </div>
              </div>
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset class="addr">
            <legend class="addr">Address Details</legend>
            <div class="form-group">
              {{ form.addr_cep.label(class="control-label") }}
              {{ form.addr_cep(class="form-control") }}
            </div>
            <div class="form-group row">
              <div class="col-xs-10">
                {{ form.addr_cidade.label(class="control-label") }}
                {{ form.addr_cidade(class="form-control") }}
              </div>
              <div class="col-xs-2">
                {{ form.addr_uf.label(class="control-label") }}
                {{ form.addr_uf(class="form-control") }}
              </div>
            </div>
            <div class="form-group">
              {{ form.addr_bairro.label(class="control-label") }}
              {{ form.addr_bairro(class="form-control") }}
            </div>
            <div class="form-group row">
              <div class="col-xs-10">
                {{ form.addr_rua.label(class="control-label") }}
                {{ form.addr_rua(class="form-control") }}
              </div>
              <div class="col-xs-2">
                {{ form.addr_num.label(class="control-label") }}
                {{ form.addr_num(class="form-control") }}
              </div>
            </div>
            <div class="form-group">
              {{ form.addr_compl.label(class="control-label") }}
              {{ form.addr_compl(class="form-control") }}
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <fieldset id ="estate_owners">
            <legend>Owners <button type="button" class="btn btn-primary btn-sm pull-right" id="add_own"><span class="glyphicon glyphicon-plus"></span> Add Owner</button></legend>
            {% for l in form.owners %}
            <div class ="form-group form-inline owner_form">
              {{ l.owner.label(class_='owner_id_label form-control') }}
              {{ l.owner(class_='form-control') }}
              {{ l.share.label(class_='owner_share_label form-control') }}
              {{ l.share(class_='form-control') }}
            </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="col-xs-6">
          <fieldset id ="owners_info">
            <legend>Info</legend>
            {% for info_field in fields %}
              <div class ="form-group owner-info-{{ info_field }}">
                <input id="info-{{ info_field }}" class="form-control owner-info" type="text" value="" style="height:39px" disabled>
              </div>
            {% endfor %}
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          {{ form.submit.label(class="sr-only") }}
          {{ form.submit(class="form-control btn-success") }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
