{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function() {
      $("#addr_cep_nat").on('input', function() {
        if ($(this).val().length == 8) {
          $.getJSON($SCRIPT_ROOT + '/cep', {
            cep: $('input[name="addr_cep_nat"]').val(),
          }, function(data) {
            $("[id='addr_city']").val(data["cidade"]);
            $("[id='addr_uf']").val(data["uf"]);
            $("[id='addr_bairro']").val(data["bairro"]);
            $("[id='addr_rua']").val(data["rua"]);
            $("[id='addr_num']").val(data["num"]);
            $("[id='addr_compl']").val(data["compl"]);
          });
        }
      });
    });
    $(function() {
      $("#addr_cep_leg").on('input', function() {
        if ($(this).val().length == 8) {
          $.getJSON($SCRIPT_ROOT + '/cep', {
            cep: $('input[name="addr_cep_leg"]').val(),
          }, function(data) {
            $("[id='addr_city']").val(data["cidade"]);
            $("[id='addr_uf']").val(data["uf"]);
            $("[id='addr_bairro']").val(data["bairro"]);
            $("[id='addr_rua']").val(data["rua"]);
            $("[id='addr_num']").val(data["num"]);
            $("[id='addr_compl']").val(data["compl"]);
          });
        }
      });
    });
  </script>
{% endblock %}

{% block app_content %}
  <div class="container">
    <h2>Add Person</h2>

    <ul class="nav nav-tabs">
      <li class="{{ 'active' if 'cnpj' not in dict(request.form) }}"><a data-toggle="tab" href="#natural">Natural Person</a></li>
      <li class="{{ 'active' if 'cnpj' in dict(request.form) }}"><a data-toggle="tab" href="#legal">Legal Person</a></li>
    </ul>

    <div class="tab-content">
      <div id="natural" class="tab-pane fade {{'in active' if 'cnpj' not in dict(request.form)}}">
          <h3>Add Natural Person</h3>
          <div class="row">
              <div class="col-sm-4" style="background-color:lavender">
                  {{ wtf.quick_form(form1) }}
              </div>
          </div>
      </div>

      <div id="legal" class="tab-pane fade {{'in active' if 'cnpj' in dict(request.form)}}">
          <h3>Add Legal Person</h3>
          <div class="row">
              <div class="col-sm-4" style="background-color:cornsilk">
                  {{ wtf.quick_form(form2) }}
              </div>
          </div>
      </div>

    </div>
  </div>
{% endblock %}
