{% extends "base.html" %}

{% block app_content %}
{% if person != None %}
	<div class="container">
		<h1>Person Details</h1>
		<table class="table table-striped table-responsive">
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{ person.type }}</td>
			</tr>
			<tr>
				<td>ID</td>
				<td>{{ person.id }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ person.name }}</td>
			</tr>
			<tr>
				<td>CPF</td>
				<td>{{ person.cpf[:3]+'.'+person.cpf[3:6]+'.'+person.cpf[6:9]+'-'+person.cpf[9:] }}</td>
			</tr>
			<tr>
				<td>RG</td>
				<td>{{ person.rg }}</td>
			</tr>
			<tr>
				<td>email</td>
				<td>{{ person.email }}</td>
			</tr>
			<tr>
				<td>CEP</td>
				<td>{{ person.addr_cep }}</td>
			</tr>
			<tr>
				<td>City / State</td>
				<td>{{ person.addr_city }}/{{ person.addr_uf}}</td>
			</tr>
			<tr>
				<td>Bairro</td>
				<td>{{ person.addr_bairro }}</td>
			</tr>
			<tr>
				<td>Rua</td>
				<td>{{ person.addr_rua }}</td>
			</tr>
			<tr>
				<td>Num</td>
				<td>{{ person.addr_num }}</td>
			</tr>
			<tr>
				<td>Compl</td>
				<td>{{ person.addr_compl }}</td>
			</tr>
			<tr>
				<td>Created by: </td>
				<td>{{ person.user_id }}: {{ creator }}</td>
			</tr>
			<tr>
				<td>Creation time: </td>
				<td>{{ moment(person.timestamp).format('LLLL') }}</td>
			</tr>
			<tr>
				<td>Last edit by: </td>
				<td>{{ person.last_editor }}: {{ editor }}</td>
			</tr>
			<tr>
				<td>Last edit time: </td>
				<td>{{ moment(person.last_edit_time).fromNow() }}</td>
			</tr>
		</table>
	</div>
{% else %}
<img src="http://www.quickmeme.com/img/a8/a8022006b463b5ed9be5a62f1bdbac43b4f3dbd5c6b3bb44707fe5f5e26635b0.jpg" class="img-responsive">
{% endif %}
{% endblock %}
