{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function() {
      $("#addr_cep_nat").on('input', function() {
        $.getJSON($SCRIPT_ROOT + '/cep', {
          cep: $('input[name="addr_cep_nat"]').val(),
        }, function(data) {
          $("[id='addr_city']").val(data["cidade"]);
          $("[id='addr_uf']").val(data["uf"]);
          $("[id='addr_bairro']").val(data["bairro"]);
          $("[id='addr_rua']").val(data["rua"]);
          $("[id='addr_num']").val(data["num"]);
          $("[id='addr_compl']").val(data["compl"]);
        });
      });
    });
  </script>
{% endblock %}

{% block app_content %}
	{% if person != None %}
	<div class="container">
		<h1>Edit Person</h1>
		<div class="container col-sm-5">
			<table class="table table-hover">
				<tr>
					<th>Immutable Values</th>
				</tr>
				<tr>
					<td>Type</td>
					<td>{{ person.type }}</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>{{ person.id }}</td>
				</tr>
				<tr>
					<td>CPF</td>
					<td>{{ person.cpf[:3]+'.'+person.cpf[3:6]+'.'+person.cpf[6:9]+'-'+person.cpf[9:] }}</td>
				</tr>
				<tr>
					<td>Created by: </td>
					<td>{{ person.user_id }}: {{ creator }}</td>
				</tr>
				<tr>
					<td>Creation time: </td>
					<td>{{ moment(person.timestamp).format('LLLL') }}</td>
				</tr>
				<tr>
					<td>Last edit by: </td>
					<td>{{ person.last_editor }}: {{ editor }}</td>
				</tr>
				<tr>
					<td>Last edit time: </td>
					<td>{{ moment(person.last_edit_time).fromNow() }}</td>
				</tr>
			</table>
		</div>
		<div class="container col-sm-7" style="background-color:lavender"">
			<h2> Update values</h2>
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	{% endif %}
{% endblock %}
