{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function() {
      $("#addr_cep").on('input', function() {
        if ($(this).val().length == 8) {
          $.getJSON($SCRIPT_ROOT + '/cep', {
            cep: $('input[name="addr_cep"]').val(),
          }, function(data) {
            $("[id='addr_cidade']").val(data["cidade"]);
            $("[id='addr_uf']").val(data["uf"]);
            $("[id='addr_bairro']").val(data["bairro"]);
            $("[id='addr_rua']").val(data["rua"]);
            $("[id='addr_num']").val(data["num"]);
            $("[id='addr_compl']").val(data["compl"]);
          });
        }
      });
      var selected = $("select").attr('id');
      $("select").val(selected);
    });
  </script>
{% endblock %}

{% block app_content %}
{% if person != None %}
  <div class="container">
		<div class="row">
			<div class="well text-center"><h4><span class="glyphicon glyphicon-user"></span> {{ person.name }}</h4></div>
		</div>
    <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
        	<div class="panel-heading text-center"><h4><span class="glyphicon glyphicon-envelope"></span></h4></div>
        	<div class="panel-body">
						{% if person.addr_rua %}
            <p>
							{{ person.addr_rua }} {% if person.addr_num %}, {{ person.addr_num }} {% if person. addr_compl %} - {{ person.addr_compl }} {% endif %} {% endif %}
						</p>
						{% endif %}
						{% if person.addr_bairro %}
            <p>{{ person.addr_bairro }}</p>
						{% endif %}
            <p>{{ person.addr_city }} - {{ person.addr_uf }}</p>
            <p>{{ person.addr_cep[:-3] }}-{{ person.addr_cep[-3:] }}</p>
						<a href="mailto:{{ person.email }}"><h4><span class="label label-primary">{{ person.email }}</span></h4></a>
          </div>
					{% if current_user.is_authenticated %}
					<div class="panel-footer">
						<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_contact"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
					</div>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-7">
				<div class="panel panel-default">
        	<div class="panel-heading text-center"><h4><span class="glyphicon glyphicon-list-alt"></span></h4></div>
        	<div class="panel-body">
        		<p><strong>CPF: {{ person.asdict()['sic'] }}</strong></p>
						{% if person.rg %}
						<p><strong>RG: </strong>{{ person.rg }}</p>
						{% endif %}
          </div>
					{% if current_user.is_authenticated %}
					<div class="panel-footer">
						<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_person"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
					</div>
					{% endif %}
        </div>
      </div>
    </div>
		{% if assets != [] %}
	  <div class="row">
	    <div class="panel panel-default">
	      <div class="panel-heading text-center"><h4><span class="glyphicon glyphicon-home"></span></h4></div>
	      <div class="panel-body">
					<table id="people" class="display table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>Name</th>
								<th>Shares</th>
								<th>%</th>
							</tr>
						</thead>
						<tbody>
						{% for asset in assets %}
						{% include 'people/_asset.html' %}
						{% endfor %}
						</tbody>
					</table>
	  		</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="well">
				<p>Last modification: {{ moment(person.last_edit_time).fromNow() }}, by: <strong>{{ person.editor }}</strong>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('people.delete_person', person_id=person.id) }}"
            <button type="button" class="btn btn-lg btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></button>
          </a>
          {% endif %}
        </p>
				<p>Created: {{ moment(person.timestamp).format('LLLL') }}, by: <strong>{{ person.creator }}</strong></p>
			</div>
		</div>
	</div>

  {% include 'people/_edit_contact.html' %}

  <div id="edit_person" class="modal fade" role="dialog">
    <form method="post" action="" role="form" enctype="multipart/form-data">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Person Info</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              {{ form.csrf_token }}
            </div>
            <fieldset class="person">
              <div class="form-group">
                {{ form.name.label(class="control-label") }}
                {{ form.name(class="form-control", value=person.name) }}
                {% for error in form.name.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group">
                {{ form.rg.label(class="control-label") }}
                {{ form.rg(class="form-control", value=person.rg) }}
                {% for error in form.rg.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              {{ form.submit.label(class="sr-only") }}
              {{ form.submit(class="form-control btn-success") }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  {% else %}
  <img src="http://www.quickmeme.com/img/a8/a8022006b463b5ed9be5a62f1bdbac43b4f3dbd5c6b3bb44707fe5f5e26635b0.jpg" class="img-responsive">
  {% endif %}
{% endblock %}
