{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/template_view.js') }}"></script>
{% endblock %}

{% block app_content %}
{% set avatar = avatars[author.avatar] %}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="row">
      	<div class="well-black well well-lg text-center">
          <div class="row profile-username">
    				<span class="label label-success">{{ author.username }}</span>
    			</div>
          <div class="row">
            <img src="{{ url_for('static', filename=avatar) }}" class="image-responsive">
          </div>
          <div class="row" style="text-align: left; padding-top: 12px; margin-bottom: -16px;">
            <small><strong>Created: {{ moment(template.timestamp).fromNow() }}</strong></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading text-center panel-headstyle">
  				<h4>{{ template.name }}</h4>
  			</div>
        <div class="panel-body">
          <p>{{ template.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="well" style="font-size: x-small;">
        <div class="text-center" style="margin-top: -10px; padding-bottom: 12px;">
          <img src="{{ url_for('static', filename='word.png') }}" class="media-center image-responsive" width="48" height="52">
        </div>
        <p>File size: {{ (template.file_size/1024)|round(2) }} KB</p>
        <p>Fields: {{ n_fields }}</p>
        <p>Targets: {{ targets|length }}</p>
        <p>Docs generated: {{ template.docs_generated }}</p>
        <p style="margin-bottom: -8px;">Last used: {{ moment(template.latest_use).fromNow() }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading text-center panel-headstyle">
          <h4>Fields configuration</h4>
        </div>
        <div class="panel-body text-center">
          <div class="row">
            <div class="col-xs-2">
              <div class="well">
                <strong>ID</strong>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="well">
                <strong>Field</strong>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="well">
                <strong>Target</strong>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="well">
                <strong>Attribute</strong>
              </div>
            </div>
          </div>
          {% for field in fields %}
  				{% include 'mailmerge/_field.html' %}
  				{% endfor %}
        </div>
        {% if current_user.id == template.user_id %}
        <div class="panel-footer">
          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_fields"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        </div>
        {% endif %}
      </div>
      {% if targets|length > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading text-center panel-headstyle">
          <h4>Select Targets</h4>
        </div>
        <div class="panel-body text-center">
          {{ wtf.quick_form(merge_form) }}
        </div>
      </div>
      {% else %}
      <div class="well text-center">
        {% if current_user.id == template.author.id %}
        <h5>Configure merge fields to use this template</h5>
        {% else %}
        <h5>{{ template.author.username }} has not configured this template</h5>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="col-xs-2">
      {% if current_user.id == template.author.id %}
      <div class="row text-center">
        <a href="{{ url_for('mailmerge.delete_template', template_id=template.id) }}">
          <button type="button" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'mailmerge/_edit_mergefield.html' %}

{% endblock %}
