{% extends 'bootstrap/base.html' %}

{% block scripts %}
  {{ super() }}
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {{ moment.include_moment() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
  {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css"/>
<style>
body {
  background-image: url("{{ url_for('static', filename='bg.png') }}");
  background-repeat: repeat;
  }
.panel-headstyle {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.panel-footer {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.logo {
  padding-top: 3px;
  offset-right: 10px;
}
.nav-glyph {
  font-size: 26px;
  padding-left: 32px;
  padding-top: 3px;
}
.nav-text {
  font-size: 18px;
  padding-top: 5px;
}
.well {
  background-image: linear-gradient(#fafafa, #d6d6d6);
}
.well-black {
  background-image: linear-gradient(#333333, #d6d6d6);
}
.well-transparent {
  background-image: url("{{ url_for('static', filename='bg.png') }}");
  background-repeat: repeat;
}
.profile-username {
  font-size: x-large;
  margin-top: -16px;
  padding-bottom: 8px;
}
</style>
{% endblock %}

{% block title %}Asset Manager{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('people.people') }}"><span class="glyphicon glyphicon-user nav-glyph"></span></a></li>
                    <li><a href="{{ url_for('realestate.realestate') }}"><span class="glyphicon glyphicon-home nav-glyph"></span></a></li>
                    <li><a href="{{ url_for('mailmerge.mailmerge') }}"><span class="glyphicon glyphicon-briefcase nav-glyph"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-primary">Sign Up</button></a></li>
                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in nav-glyph"></span></a></li>
                    {% else %}
                    <li class="nav-text"><a href="{{ url_for('auth.profile') }}">{{current_user.username}}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out nav-glyph"></span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message[0] }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message[1] }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
