{% extends "base.html" %}

{% block app_content %}
	{% if person != None %}
	<div class="container">
		<h1>Person Details</h1>
		<form action="" method="post" novalidate>
	        {{ form.hidden_tag() }}
			<table class="table table-hover">
				<tr>
					<th>Attribute</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>ID</td>
					<td>{{ person.id }}</td>
				</tr>
				<tr>
					<td>{{ form.name.label }}</td>
					<td>{{ form.name(size=64) }}</td>
					{% for error in form.name.errors %}
		      <span style="color: red;">[{{ error }}]</span>
		      {% endfor %}
				</tr>
				<tr>
					{% if person.type == 'natural' %}
						<td>CPF</td>
						<td>{{ person.cpf }}</td>
					{% elif person.type == 'legal' %}
						<td>CNPJ</td>
						<td>{{ person.cnpj }}</td>
					{% endif %}
				</tr>
				<tr>
					{% if person.type == 'natural' %}
						<td>{{ form.rg.label }}</td>
						<td>{{ form.rg(size=11) }}</td>
						{% for error in form.rg.errors %}
			      <span style="color: red;">[{{ error }}]</span>
			      {% endfor %}
					{% elif person.type == 'legal' %}
						<td>{{ form.code.label }}</td>
						<td>{{ form.code(size=11) }}</td>
						{% for error in form.code.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					{% endif %}
				</tr>
				<tr>
					<td>{{ form.email.label }}</td>
					<td>{{ form.email(size=32) }}</td>
					{% for error in form.email.errors %}
		      <span style="color: red;">[{{ error }}]</span>
		      {% endfor %}
				</tr>
				<tr>
					<td>Created by: </td>
					<td>{{ person.user_id }}: {{ User.query.get(person.user_id).username if person.user_id != None }}</td>
				</tr>
				<tr>
					<td>Creation time: </td>
					<td>{{ moment(person.timestamp).format('LLLL') }}</td>
				</tr>
				<tr>
					<td>Last edit by: </td>
					<td>{{ person.last_editor }}: {{ User.query.get(person.last_editor).username }}</td>
				</tr>
				<tr>
					<td>Last edit time: </td>
					<td>{{ moment(person.last_edit_time).fromNow() }}</td>
				</tr>
			</table>
		<p>{{ form.submit() }}</p>
		</form>
	</div>
	{% endif %}
{% endblock %}
